Repository wokdev/wok: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, mypy

isort:
  name: isort
  entry: poetry run isort
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

✨ Add `start` command
  tests/data/011_a_wok.yml
  tests/data/011_b_wok.yml
  tests/data/021_wok.yml
  tests/data/022_wok.yml
  tests/test_cli.py
  wok/cli.py
  wok/core/__init__.py
  wok/core/cmd.py
Due: isort, mypy

👽 Do not allow to use `wok` without a root repo
  tests/data/001_wok.yml
  tests/data/021_a_wok.yml
  tests/data/021_b_wok.yml
  tests/data/022_wok.yml
  tests/data/031_wok.yml
  tests/test_cli.py
  wok/cli.py
  wok/core/__init__.py
  wok/core/cmd.py
  wok/core/context.py
Due: isort, mypy

✨ Add `join` command
  tests/data/041_wok.yml
  tests/data/042_wok.yml
  tests/test_cli.py
  wok/cli.py
  wok/config/base.py
  wok/core/__init__.py
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

✅ Organize tests
  tests/conftest.py
  tests/test_cli.py
  tests/test_core.py
  wok/cli.py
  wok/config/base.py
  wok/core/cmd.py
Due: isort, mypy

✨ Add `push` command
  tests/conftest.py
  tests/test_cli.py
  tests/test_core.py
  wok/cli.py
  wok/core/__init__.py
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

✨ Add `finish` command
  tests/data/061_wok.yml
  tests/test_cli.py
  tests/test_core.py
  wok/cli.py
  wok/config/base.py
  wok/core/__init__.py
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

📦 Set PyPI package name to `git-wok`
  .gitignore
  pyproject.toml
Due: none

➖ Delete orphaned `Pipfile`
  Pipfile
Due: none

✨ Fix #1: Add `tag` command
  poetry.lock
  tests/test_core.py
  wok/core/__init__.py
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

🐛 Add `tag` command to `cli` module
  tests/test_cli.py
  wok/cli.py
Due: isort, mypy

📦 Rename PyPI package back to `wok`, thanks to Michael Cooper
  pyproject.toml
Due: none

Allow init in empty repo
  tests/conftest.py
  tests/test_core.py
  wok/core/cmd.py
Due: isort, mypy

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Address review comments
  tests/conftest.py
  tests/test_core.py
Due: isort

Support remote credentials for push/pull
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

Address review comments
  tests/data/004_wok.yml
  tests/test_core.py
Due: isort

Addressed review comments
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

Address review comments
  wok/core/base.py
Due: isort, mypy

Allow init in empty repo (#10)
  tests/conftest.py
  tests/data/004_wok.yml
  tests/test_core.py
  wok/core/cmd.py
Due: isort, mypy

Support remote credentials for push/pull (#13)
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

Add Gitter badge
  README.md
Due: none

Add Gitter badge (#15)
  README.md
Due: none

🚧 Sync command - first steps
  tests/data/081_wok.yml
  tests/test_core.py
  wok/core/__init__.py
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

📌 Pin pack dirs in `tests/data/repos`
  tests/data/repos/prj-1/objects/pack/.gitignore
  tests/data/repos/prj-2/objects/pack/.gitignore
  tests/data/repos/workspace/objects/pack/.gitignore
Due: none

📌 Pin dirs in `docs`
  docs/_static/.gitignore
  docs/_templates/.gitignore
Due: none

✨ Add `sync` command
  tests/test_cli.py
  tests/test_core.py
  wok/cli.py
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

✨ Add `sync` command (#9)
  docs/_static/.gitignore
  docs/_templates/.gitignore
  tests/data/081_wok.yml
  tests/data/repos/prj-1/objects/pack/.gitignore
  tests/data/repos/prj-2/objects/pack/.gitignore
  tests/data/repos/workspace/objects/pack/.gitignore
  tests/test_cli.py
  tests/test_core.py
  wok/cli.py
  wok/core/__init__.py
  wok/core/base.py
  wok/core/cmd.py
Due: isort, mypy

Commit after init wok
  tests/test_core.py
  wok/core/cmd.py
Due: isort, mypy

Commit after init wok (#14)
  tests/test_core.py
  wok/core/cmd.py
Due: isort, mypy

⬆ Upgrade dev deps
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_core.py
  wok/core/base.py
  wok/core/cmd.py
  wok/core/context.py
Due: isort, mypy

✨ Add `fork` command (#3)
  tests/data/091_wok.yml
  tests/test_cli.py
  tests/test_core.py
  wok/cli.py
  wok/core/__init__.py
  wok/core/cmd.py
Due: isort, mypy

✨ Add `fork` command (#17)
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/data/091_wok.yml
  tests/test_cli.py
  tests/test_core.py
  wok/cli.py
  wok/core/__init__.py
  wok/core/base.py
  wok/core/cmd.py
  wok/core/context.py
Due: isort, mypy

🔖 Bump version to `0.1.0-dev1`
  pyproject.toml
Due: none

🐛 Allow `GIT_STATUS_IGNORED` as clean state
  wok/core/base.py
Due: isort, mypy

Add CI workflows and fix broken tests
  .github/workflows/qa.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/__init__.py
  docs/conf.py
  setup.cfg
  tests/conftest.py
  tests/test_core.py
  wok/__main__.py
Due: isort, mypy

🚧 Config loading mechanics
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  src/bin/wok.rs
  src/error.rs
  src/lib.rs
  tests/data/021_b_wok.yaml
Due: none

📝 Add some docs
  src/config.rs
  src/error.rs
  src/lib.rs
Due: none

🚧 Start the work on `wok init` command
  Cargo.lock
  Cargo.toml
  rustfmt.toml
  src/bin/wok.rs
  src/cmd.rs
  src/cmd/init.rs
  src/config.rs
  src/lib.rs
Due: none

✨ Implement `wok init`
  .gitmodules
  src/bin/wok.rs
  src/cmd/init.rs
  src/config.rs
  src/error.rs
  src/lib.rs
Due: none

Path conditions:
  isort: any of: \.py$
  mypy: any of: \.py$, but not: (?x)^(
  tests/
)

